<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- You can set your favicon here -->
<!-- link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}" -->
<link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
<script src="https://kit.fontawesome.com/af116e7c65.js" crossorigin="anonymous"></script>
<meta name="google-site-verification" content="fjkoTuRDj-osk0FmShzBcJk0_NmBMymEDLdEtHp24cI" /> 
	 <!-- CSS configurations to tweak how the Twemojis are displayed -->
<!-- end custom head snippets -->
