<!DOCTYPE html>
<html lang="{{ site.lang | default: "cs-CZ" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Cairo&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#4800FF">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://unpkg.com/twemoji@latest/dist/twemoji.min.js" crossorigin="anonymous"></script>
    {% include head-custom.html %}
    
  </head>
  <body>
    <a id="skip-to-content" href="#content">Přeskočit na obsah.</a>

    <header class="page-header" role="banner">
      <img class="project-name" src="https://czvtuber.nejprof.eu/assets/logo.png" alt="logo" width="720" height="auto">
      <h2 class="project-tagline">{{ default: site.github.project_tagline }}</h2>
      {% if site.github.is_project_page %}
      {% endif %}
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">ČSSNVT</a> je udržován <a href="{{ site.github.owner_url }}">Nejprofem</a> a jeho týmem.</span>
        {% endif %}
        <span class="site-footer-credits">Provozuje <a href="https://pages.github.com">GitHub Pages</a>. <br /> <br /><script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Kup Nejprofovi kafe!', '#b31657', 'V7V276TSK');kofiwidget2.draw();</script></span>
      </footer>
    </main>
  </body>
</html>
